.navBar{
  background-color: #37003c;
}
.navBar img{
  height:40px;
  cursor: pointer;
}
.home{
  background-color: #0e0a2a;
}
.club{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}
/* .coverImg{
  background-image:url(./images/cover.png); */
  /* background-size: 70%; */
  /* background-position:center;
  position: relative;
  width: 70%;
  height: 300px;
  overflow: hidden;
} */
.carousel img{
  height: 250px;
  background-position:center;
}
.club-card{
  padding: 22px;
  background-color: #fff;
  width: 15rem;
  height: 16rem;
}
.club-card img{
  width: 8rem;
}
.club-card button{
  background-color: #3a42ff;
  padding: 5px 30px;
}
.footer{
  background-color: #37003c;
  color: #fff;
}